# TUPLES

A **tuple** is an immutable, ordered collection of elements in Python. Tuples can store elements of different data types (such as integers, strings, or even other tuples). Once created, the elements of a tuple cannot be changed, added, or removed.

**Key features of tuples:**
- Defined using parentheses: `(1, 2, 3)`
- Immutable: cannot be modified after creation
- Can contain elements of different types: `('apple', 3.14, 42)`
- Support indexing and slicing: `my_tuple[0]`, `my_tuple[1:3]`
- Useful for fixed collections of items, such as coordinates or database records

**Example:**
```python
my_tuple = (10, 'hello', 3.5)
print(my_tuple[1])  # Output: hello
```

Tuples are often used when you want to ensure that the data cannot be changed accidentally.

In [11]:
newTuple = tuple('abcde')
newTuple

('a', 'b', 'c', 'd', 'e')

In [12]:
newTuple[3] # You can access the element using their index

# newTuple[5] = 'f' You cannot assign any values to tuples and they are fixed

'd'

In [13]:
newTuple[:3]

('a', 'b', 'c')

In [14]:
# TRAVERSE A TUPLE

for i in newTuple:
    print(i)

a
b
c
d
e

In [15]:
for i in range(len(newTuple)):
    print(newTuple[i])

a
b
c
d
e

In [16]:
# SEARCH FOR A ELEMENT IN TUPLE

'a' in newTuple

True

In [17]:
# INDEX() USE TO FIND THE INDEX

newTuple.index('c')

2

In [32]:
# SEARCH FOR AN ELEMENT IN TUPLE

def search(tuple1, element):
    for i in tuple1:
        if i == element:
            return tuple1.index(element)
    return -1

search(newTuple, 'd')

3

In [33]:
# Concatenate newTuple with another tuple
another_tuple = ('f', 'g')
concatenated_tuple = newTuple + another_tuple
concatenated_tuple

('a', 'b', 'c', 'd', 'e', 'f', 'g')

In [ ]:
# tuple multiplication
repeated_tuple = newTuple * 3
repeated_tuple

('a', 'b', 'c', 'd', 'e', 'a', 'b', 'c', 'd', 'e', 'a', 'b', 'c', 'd', 'e')

In [ ]:
# count method 
repeated_tuple.count('a')

3

In [37]:
# max method
max(repeated_tuple)

'e'

In [38]:
# min method
min(repeated_tuple)

'a'

**Sum and Product**

Write a function that calculates the sum and product of all elements in a tuple of numbers.

Example

input_tuple = (1, 2, 3, 4)\
sum_result, product_result = sum_product(input_tuple)

print(sum_result, product_result)  # Expected output: 10, 24

In [ ]:
# SUM AND PRODUCT

def sum_product(input_tuple):
    
    def product(input_tuple):
        prod = 1
        for i in input_tuple:
            prod = i * prod
        return prod
    return sum(input_tuple), product(input_tuple)

tuple1= 1,2,3,4
sum_product(tuple1)

(10, 24)

In [46]:
def sum_product(t):
    sum_result = 0
    product_result = 1
 
    for num in t:
        sum_result += num
        product_result *= num
 
    return sum_result, product_result
 
input_tuple = (1, 2, 3, 4)
sum_product(input_tuple)

(10, 24)

**Elementwise Sum**

Create a function that takes two tuples and returns a tuple containing the element-wise sum of the input tuples.

Example

tuple1 = (1, 2, 3)\
tuple2 = (4, 5, 6)\
output_tuple = tuple_elementwise_sum(tuple1, tuple2)\
print(output_tuple)  # Expected output: (5, 7, 9)

In [56]:
def ElementWiseSum(tuple1, tuple2):
    empty_list = []
    for i in range(len(tuple1)):
        for j in range(i,len(tuple2)):
            empty_list.append(tuple1[i]+tuple2[j])
            break
    return tuple(empty_list)
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
ElementWiseSum(tuple1, tuple2)

(5, 7, 9)

In [ ]:

def tuple_elementwise_sum(tuple1, tuple2):
    
    return tuple(map(sum, zip(tuple1, tuple2)))
    # The zip function takes two or more iterables (like tuples or lists) and returns an iterator of tuples,
    # where the i-th tuple contains the i-th element from each of the input iterables.
    # For example, zip((1,2,3), (4,5,6)) produces (1,4), (2,5), (3,6).

tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
ElementWiseSum(tuple1, tuple2)

(5, 7, 9)

In [59]:
def tuple_elementwise_sum(tuple1, tuple2):
    return tuple(x+y for x,y in zip(tuple1, tuple2))

tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
ElementWiseSum(tuple1, tuple2)

(5, 7, 9)

**Insert at the Beginning**

Write a function that takes a tuple and a value, and returns a new tuple with the value inserted at the beginning of the original tuple.

Example

input_tuple = (2, 3, 4)\
value_to_insert = 1\
output_tuple = insert_value_front(input_tuple, value_to_insert)\
print(output_tuple)  \

Expected output: (1, 2, 3, 4)

In [70]:
def insert_value_front(input_tuple, value_to_insert):
    temp_list = list(input_tuple)
    temp_list.insert(0, value_to_insert)
    return tuple(temp_list)

input_tuple = (2, 3, 4)
value_to_insert = 1
insert_value_front(input_tuple, value_to_insert)

(1, 2, 3, 4)

In [ ]:
def insert_value_front(input_tuple, value_to_insert):
    return (value_to_insert,)+input_tuple

input_tuple = (2, 3, 4)
value_to_insert = 1
insert_value_front(input_tuple, value_to_insert)

(1, 2, 3, 4)

**Concatenate**

Write a function that takes a tuple of strings and concatenates them, separating each string with a space.

Example

input_tuple = ('Hello', 'World', 'from', 'Python')\
output_string = concatenate_strings(input_tuple)\
print(output_string)  

Expected output: 'Hello World from Python'

In [86]:
def concatenate_strings(input_tuple):
    return ' '.join(input_tuple)

input_tuple = ('Hello', 'World', 'from', 'Python')
concatenate_strings(input_tuple)

'Hello World from Python'

**Diagonal**

Create a function that takes a tuple of tuples and returns a tuple containing the diagonal elements of the input.

Example

input_tuple = (\
    (1, 2, 3),\
    (4, 5, 6),\
    (7, 8, 9)\
)\
output_tuple = get_diagonal(input_tuple)
print(output_tuple)   

Expected output: (1, 5, 9)

In [93]:
def get_diagonal(tup):
    diagonalElements = []
    for i in range(len(tup)):
        diagonalElements.append(tup[i][i])
    return tuple(diagonalElements)
    
tup = ((1, 2, 3),(4, 5, 6),(7, 8, 9))
get_diagonal(tup)

(1, 5, 9)

In [94]:
def get_diagonal(tup):
    return tuple(tup[i][i] for i in range(len(tup)))

tup = ((1, 2, 3),(4, 5, 6),(7, 8, 9))
get_diagonal(tup)

(1, 5, 9)

**Common Elements**

Write a function that takes two tuples and returns a tuple containing the common elements of the input tuples.

Example

tuple1 = (1, 2, 3, 4, 5)\
tuple2 = (4, 5, 6, 7, 8)\
output_tuple = common_elements(tuple1, tuple2)

print(output_tuple)

Expected output: (4, 5)

In [95]:
def common_elements(tuple1, tuple2):
    common = []
    for i in tuple1:
        for j in tuple2:
            if i == j:
                common.append(i)
    return tuple(common)

tuple1 = (1, 2, 3, 4, 5)
tuple2 = (4, 5, 6, 7, 8)
common_elements(tuple1, tuple2)

(4, 5)

In [ ]:
def common_elements(tuple1, tuple2):
    common = []
    for i in tuple1:
        if i in tuple2:
            common.append(i)
    return tuple(common)

tuple1 = (1, 2, 3, 4, 5)
tuple2 = (4, 5, 6, 7, 8)
common_elements(tuple1, tuple2)

(4, 5)

In [97]:
def common_elements(tuple1,tuple2):
    return tuple(i for i in tuple1 if i in tuple2)

tuple1 = (1, 2, 3, 4, 5)
tuple2 = (4, 5, 6, 7, 8)
common_elements(tuple1, tuple2)

(4, 5)

In [99]:
def common_elements(tuple1, tuple2):
    return tuple(set(tuple1) & set(tuple2))

tuple1 = (1, 2, 3, 4, 5)
tuple2 = (4, 5, 6, 7, 8)
common_elements(tuple1, tuple2)

(4, 5)