# LISTS

Lists in Python are ordered, mutable collections that can hold items of any data type. They are defined using square brackets `[]`, and items are separated by commas. Lists support indexing, slicing, and a variety of methods for adding, removing, and modifying elements. For example:

- Creating a list: `my_list = [1, 2, 3, 'apple', True]`
- Accessing elements: `my_list[0]` returns `1`
- Modifying elements: `my_list[1] = 'banana'`
- Adding elements: `my_list.append('new item')`
- Removing elements: `my_list.remove(3)`

Lists are commonly used for storing sequences of items and iterating over them in Python programs.

### LIST OPERATIONS

This section demonstrates various operations that can be performed on lists in Python, such as accessing elements, traversing, inserting, appending, extending, removing, deleting, slicing, updating, popping, and searching for elements. These operations allow you to efficiently manage and manipulate list data in your programs.

In [471]:
import numpy as np
import pandas as pd

In [472]:
# ACCESSING / TRAVERSING THE LIST

my_list = [1, 2, 3, 'apple', True]
my_list[2]

3

In [473]:
# IN OPERATOR

'apple' in my_list

True

In [474]:
# TRAVERSE A LIST

for i in my_list:
    print(i)

1
2
3
apple
True

In [475]:
# INSERT AN ELEMENT INTO A LIST

my_list.insert(2, 5) # this will insert the element 5 in the index 2.
my_list

[1, 2, 5, 3, 'apple', True]

In [476]:
# APPEND AN ELEMENT TO A LIST 

my_list.append('kumar') # this will add an element at the end of a list
my_list

[1, 2, 5, 3, 'apple', True, 'kumar']

In [477]:
# EXTEND METHOD

my_list.extend([2,3,78,'grapes','banana']) # add a list to an another list
my_list

[1, 2, 5, 3, 'apple', True, 'kumar', 2, 3, 78, 'grapes', 'banana']

In [478]:
# REMOVE AN ELEMENT IN A LIST

my_list.remove('kumar')
my_list

[1, 2, 5, 3, 'apple', True, 2, 3, 78, 'grapes', 'banana']

In [479]:
# DELETE AN ELEMENT IN A LIST

del my_list[2] # this delete the element in the index 2
my_list

[1, 2, 3, 'apple', True, 2, 3, 78, 'grapes', 'banana']

In [480]:
# SLICING A LIST

my_list[:5]

[1, 2, 3, 'apple', True]

In [481]:
# UPDATE A LIST

my_list[-2:] = ['rose','jasmine'] # this updates the last two elements in a list
my_list

[1, 2, 3, 'apple', True, 2, 3, 78, 'rose', 'jasmine']

In [482]:
# POP METHOD TO DELETE THE LAST ELEMENT IN A LIST

my_list.pop()
my_list

[1, 2, 3, 'apple', True, 2, 3, 78, 'rose']

In [483]:
my_list.pop() # this provides you the last element in a list

'rose'

In [484]:
# SEARCH FOR AN ELEMENT IN A LIST

element = 4
if element in my_list:
    print('Yes')
else:
    print('No')

No

In [485]:
my_list

[1, 2, 3, 'apple', True, 2, 3, 78]

In [486]:
# LINEAR SEARCH FOR AN ELEMENT IN A LIST

def search(list, element):
    for index,value in enumerate(list):
        if value == element:
            return index
    return -1

search(my_list,'apple')

3

### LIST OPERATIONS

You can perform various operations on lists such as concatenation, repetition, and more:

- **Concatenation:** Combine two lists using the `+` operator.  
    Example: `new_list = my_list + [10, 20]`

- **Repetition:** Repeat a list using the `*` operator.  
    Example: `repeated_list = my_list * 2`

- **Length:** Get the number of elements using `len()`.  
    Example: `length = len(my_list)`

- **Min/Max:** Find the minimum or maximum value (works with comparable elements).  
    Example: `min_value = min([1, 2, 3])`

- **Sorting:** Sort a list using `sorted()` or `.sort()`.  
    Example: `sorted_list = sorted(my_list)`

- **Copying:** Create a shallow copy using `.copy()`.  
    Example: `copy_list = my_list.copy()`

These operations make lists flexible and powerful for handling collections of data in Python.

In [487]:
# CONCAT

my_list = my_list + [10,20,30]
my_list

[1, 2, 3, 'apple', True, 2, 3, 78, 10, 20, 30]

In [488]:
# REPEATATION

my_list * 2

[1,
 2,
 3,
 'apple',
 True,
 2,
 3,
 78,
 10,
 20,
 30,
 1,
 2,
 3,
 'apple',
 True,
 2,
 3,
 78,
 10,
 20,
 30]

In [489]:
# COUNT 

len(my_list)

11

In [490]:
# MAX

# You can find the maximum value in a list using the max() function.
# Note: max() will raise a TypeError if the list contains incomparable types (e.g., int and str).
# my_list contains both integers and a string ('apple'), so max(my_list) will cause an error.
# To find the max among only the integers, you can use a list comprehension:

max([x for x in my_list if isinstance(x, int)]) # list comprehension

78

In [491]:
# MIN

min(x for x in my_list if isinstance(x,str))

'apple'

In [492]:
# SUM

number = np.random.randint(10, 100, size=10)
# Convert each element in number to int (redundant if already int)
number = list(map(int, number))
# Use a different variable name to avoid overwriting the built-in sum() function and the existing variable 'sum'
# sum(number)

The `map()` function in Python applies a given function to each item of an iterable (like a list or tuple) and returns a map object (which can be converted to a list, tuple, etc.).

**Syntax:**  
`map(function, iterable, ...)`

- `function`: The function to apply to each element.
- `iterable`: One or more iterables whose elements are processed by the function.

The `map()` function is useful for transforming data without writing explicit loops.

In [493]:
# TO LIST

str_name = 'Rohit Sharma'
list(str_name)

['R', 'o', 'h', 'i', 't', ' ', 'S', 'h', 'a', 'r', 'm', 'a']

### LISTS AND STRINGS

[LIST METHODS]('https://www.w3schools.com/python/python_lists_methods.asp')

- list --> stores the values\
- strings --> stores the character

In [494]:
# SPLIT METHOD

str_name.split() # ' ' space is used as default delimiter, we can use any demiliter inside the split(demiliter)

# rohit-sharma --> str_name.split(-)

['Rohit', 'Sharma']

In [495]:
# JOIN METHOD

'-'.join(str_name)

'R-o-h-i-t- -S-h-a-r-m-a'

In [496]:
# SORT METHOD

number.sort()
number

[23, 38, 65, 67, 71, 72, 73, 89, 94, 99]

### LIST COMPREHENSION
List comprehension provides a concise way to create lists in Python. It allows you to generate a new list by applying an expression to each item in an iterable, optionally filtering items with a condition.

**Syntax:**  
`[expression **for** item **in** iterable **if condition**]`

- **expression:** The value to store in the new list.
- **item:** The variable representing each element in the iterable.
- **iterable:** A sequence (like a list, string, or range).
- **condition (optional):** Only include items where this is `True`.

**Examples:**

- Create a list of squares:  
    `[x**2 for x in range(5)]  # Output: [0, 1, 4, 9, 16]`

- Filter even numbers:  
    `[x for x in number if x % 2 == 0]  # Output: [22, 26, 47, 47, 58, 64, 94]` (using the variable `number`)

List comprehensions are more readable and efficient than using loops for list creation.

In [497]:
# LIST COMPREHENSION
# [expression **for** item **in** iterable ]

multiple_2 = [i*2 for i in number]
multiple_2

[46, 76, 130, 134, 142, 144, 146, 178, 188, 198]

In [498]:
# CONDITIONAL LIST COMPREHENSION
# [expression **for** item **in** iterable **if condition**]

even_number = [x for x in number if x%2==0]
even_number

[38, 72, 94]

In [499]:
prev_list = [-1,3,4,-5,-7,0,8,2]
new_list = [i*i for i in prev_list if i<0]
new_list

[1, 25, 49]

In [500]:
new_list = [i for i in 'rohit sharma'] # we can use list(rohit sharma)
new_list

['r', 'o', 'h', 'i', 't', ' ', 's', 'h', 'a', 'r', 'm', 'a']

In [501]:
sentence = input('enter your name:')

def is_consonent(letter):
    vowels = 'aeiou'
    return letter.isalpha() and letter.lower() not in vowels

consonent = [i for i in sentence if is_consonent(i)]
# The set() function is used here to remove duplicate consonants from the list.
# It converts the list 'consonent' into a set, which only keeps unique elements.
# Then, list() converts the set back to a list of unique consonants.

consonent = list(set(consonent)) # removes the duplicates
consonent

['m', 'r', 'k']

In [502]:
vowels = 'aeiou'
sentence = 'rohit sharma'
consonent = [i for i in sentence if i not in vowels]
consonent

['r', 'h', 't', ' ', 's', 'h', 'r', 'm']

In [503]:
new_list = [i if i > 0 else 0 for i in prev_list]
# new_list = [i for i in prev_list if i > 0 else 0] if we have else block we need to use the above syntax

"""
def get_number(number):
    if number > 0:
        return number
    else:
        return 0

new_list = [get_number(i) for i in prev_list]
"""

new_list

[0, 3, 4, 0, 0, 0, 8, 2]

In [504]:
fruit_list1 = ['Apple', 'Berry', 'Cherry', 'Papaya']
fruit_list2 = fruit_list1
fruit_list3 = fruit_list1[:]
 
fruit_list2[0] = 'Guava'
fruit_list3[1] = 'Kiwi'
print(fruit_list1)
print(fruit_list2)
print(fruit_list3)
tsum = 0
for ls in (fruit_list1, fruit_list2, fruit_list3):
    if ls[0] == 'Guava':
        tsum += 1
    if ls[1] == 'Kiwi':
        tsum += 20
 
print(tsum)

['Guava', 'Berry', 'Cherry', 'Papaya']
['Guava', 'Berry', 'Cherry', 'Papaya']
['Apple', 'Kiwi', 'Cherry', 'Papaya']
22

In [505]:
a=[1,2,3,4,5,6,7,8,9]
a[::2]

[1, 3, 5, 7, 9]

In [506]:
arr = [1, 2, 3, 4, 5, 6]
for i in range(1, 6):
    arr[i - 1] = arr[i]
    # print(i,end=" ")
for i in range(0, 6): 
    print(arr[i], end = " ")

2 3 4 5 6 6

In [507]:
data = [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
def fun(m):
    v = m[0][0]  # Start with the first element
    for row in m:
        for element in row:
            if v < element:
                v = element  # Update v if a larger element is found
    return v

print(fun(data[0])) # [[1,2],[3,4]]

4

In [508]:
a=[1,2,3,4,5]
print(a[3:0:-1])

[4, 3, 2]

In [509]:
arr = [[1, 2, 3, 4],
       [4, 5, 6, 7],
       [8, 9, 10, 11],
       [12, 13, 14, 15]]

for i in range(0, 4):
    print(arr[i].pop())

# [[1, 2, 3, 4],    --> 0 /4
# [4, 5, 6, 7],     --> 1 /7
# [8, 9, 10, 11],   --> 2 /11
# [12, 13, 14, 15]] --> 3 /15

4
7
11
15

In [510]:
import random
fruit=['apple', 'banana', 'papaya', 'cherry']
random.shuffle(fruit)
fruit

['papaya', 'cherry', 'banana', 'apple']

In [511]:
def f(value, values):
    v = 1
    values[0] = 44
t = 3
v = [1, 2, 3]
f(t, v)
print(t, v[0])

3 44

In [ ]:
# FIND THE AVERAGE TEMPERATURE

no_of_days = int(input('enter number of days:'))
temp = []
total=0
for i in range(1,no_of_days+1):
    tempt = float(input(f'enter Day:{i+1} Temperature:'))
    temp.append(tempt)
    total+=tempt
average = round(total / no_of_days, 2)
average

4.0